
* { margin: 0; padding: 0; }

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  background-color: #f9f9f9;
  color: #fff;
  font-family: $root-font-family;
  font-size: $root-font-size;
  font-weight: normal;
  height: 100%;
  line-height: $root-line-height;
  overflow: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  width: 100%;
  z-index: 0;
}

::selection {
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: $root-font-size;
  line-height: 1em;
  margin: 0 0 0.75em;
}

h3 {
  font-size: $root-font-size;
  font-weight: normal;
}

h5 {
  font-size: $root-font-size;
  font-weight: normal;
  line-height: 1em;
  text-transform: uppercase;
}

a,
a:active,
a:visited {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  margin: 1em 0;
}

li {
  list-style: none;
  margin: 0 0 0.25em;
}

ol > li {
  list-style: upper-roman inside;
}

article,
section {
  z-index: 0;
}

img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

fieldset {
  border: none;
}

label {
  display: inline-block;
  margin: 0 0.25em 0;
  width: auto;
}

input,
textarea,
button {
  font-family: $root-font-family;
  font-size: $root-font-size;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
  outline: none;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  box-sizing: border-box;
}

input[type=text],
input[type=email] {
  border: 1px solid #888;
  padding: 0.25em;
}

::placeholder {
  color: #ccc;
  font-family: $root-font-family;
  font-size: $root-font-size;
  font-weight: italic;
  line-height: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #888;
  padding: 0.5em;
  text-align: left;
}
