
.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.hidden {
    display: none;
}

.absolute-top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.video-player {
    canvas {
        width: 100%;
        height: 100%;
    }
}
