
.container {
  height: 100%;
  position: relative;
  width: 100%;
}

.hidden {
  display: none;
}

.absolute-top-left {
  left: 0;
  position: absolute;
  top: 0;
}

.info-window {
  background-color: rgba(255, 255, 255, 0.25);
  left: 15%;
  padding: 1em;
  position: absolute;
  top: 19%;
  z-index: 100;
}

.video-player {
  canvas {
    height: 100%;
    width: 100%;
  }
}
